<div class="padding-vertical">
  <button mat-button color="primary" [disabled]="activeSprint" (click)="navigateToSprint()">View ongoing sprint</button> &nbsp;
  <button mat-button color="primary" (click)="navigateCreateSprint()">Plan a sprint</button>
</div>
<app-table [data$]="sprints$" [showColumns]="['title', 'startDate', 'endDate']" (editEvent)="navigateEditSprint($event)"></app-table>

<div class="padding-vertical">
  <div class="padding-vertical">
    <button mat-button color="primary" (click)="navigateToCreate()">Create a new task</button> &nbsp;
    <button mat-button color="primary" (click)="navigateToArchivedUserStories()">Archived tasks</button>
  </div>
  <app-table [data$]="userStories$" [showColumns]="['title', 'status']" (editEvent)="navigateEditUserStory($event)"></app-table>
</div>

<div class="padding-vertical">
  <button mat-button color="primary" (click)="navigateToMember()">Add a member</button>
</div>
<app-table [data$]="members$" [showColumns]="['name', 'role']" (editEvent)="navigateToEditMember($event)"></app-table>