<form class="form-column" *ngIf="formGroup.controls['title']" [formGroup]="formGroup" (submit)="edit()">
  <mat-form-field appearance="standard">
    <mat-label>Title</mat-label>
    <input type="text" matInput formControlName="title">
    <mat-error *ngIf="formGroup.controls['title'].invalid">
      {{ this.getErrorMessage('title', 'required') }}
      {{ this.getErrorMessage('title', 'maxLength') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error *ngIf="formGroup.controls['description'].invalid">
      {{ this.getErrorMessage('description', 'maxLength') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Assignee</mat-label>
    <mat-select formControlName="selectedAssignee">
      <mat-option><-- Select --></mat-option>
      <mat-option *ngFor="let user of projectMembers$ | async" [value]="user.uid">
        {{ user.displayName }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Story points</mat-label>
    <input type="number" matInput formControlName="storyPoints" min="0" max="24">
    <mat-error *ngIf="formGroup.controls['storyPoints'].invalid">
      {{ this.getErrorMessage('storyPoints', 'min') }}
      {{ this.getErrorMessage('storyPoints', 'max') }}
    </mat-error>
  </mat-form-field>
  <div>
    <mat-checkbox formControlName="archived">Archived</mat-checkbox>
    <mat-error *ngIf="formGroup.controls['archived'].invalid">
      {{ this.getErrorMessage('archived', 'required') }}
    </mat-error>
  </div>
  <button [disabled]="formGroup.invalid" type="submit" mat-raised-button color="primary">Save</button>
</form>
