<form class="form-column" [formGroup]="formGroup" (submit)="create()">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input type="text" matInput formControlName="title">
    <mat-error *ngIf="formGroup.controls['title'].invalid">
      {{ this.getErrorMessage('title', 'required') }}
      {{ this.getErrorMessage('title', 'maxLength') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error *ngIf="formGroup.controls['description'].invalid">
      {{ this.getErrorMessage('description', 'maxLength') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    <mat-error *ngIf="formGroup.get('start').invalid">
      {{ this.getErrorMessage('start', 'min') }}
      {{ this.getErrorMessage('start', 'max') }}
    </mat-error>
    <mat-error *ngIf="formGroup.get('end').invalid">
      {{ this.getErrorMessage('end', 'min') }}
      {{ this.getErrorMessage('end', 'max') }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Tasks</mat-label>
    <mat-select formControlName="tasks" multiple>
      <mat-option *ngFor="let task of pickAbleTasks$ | async" [value]="task.id">
        {{ task.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle formControlName="active">Active</mat-slide-toggle>
  <mat-error *ngIf="formGroup.controls['active'].invalid">
    {{ this.getErrorMessage('active', 'required') }}
  </mat-error>
  <button [disabled]="formGroup.invalid" type="submit" mat-raised-button color="primary">Create</button>
</form>