<div class="wrapper">
  <div class="column">
    <h1>Tasks</h1>
    <div class="buttons">
      <button mat-button color="primary" (click)="navigateToCreate()">Create a new task</button> &nbsp;
      <button mat-button color="primary" (click)="navigateToArchivedTasks()">Archived tasks</button>
    </div>
    <app-table [data$]="tasks$" [showColumns]="['title', 'status']" (editEvent)="navigateEditTask($event)"></app-table>
  </div>

  <div class="column">
    <h1>Sprints</h1>
    <div class="buttons">
      <button mat-button color="accent" [disabled]="activeSprint" (click)="navigateToSprint()">View ongoing sprint</button> &nbsp;
      <button mat-button color="primary" (click)="navigateCreateSprint()">Plan a sprint</button>
    </div>
    <app-table [data$]="sprints$" [showColumns]="['title', 'startDate', 'endDate']" (editEvent)="navigateEditSprint($event)"></app-table>
  </div>

  <div class="column">
    <h1>Members</h1>
    <button mat-button color="primary" (click)="navigateToMember()">Add a member</button>
    <app-table [data$]="members$" [showColumns]="['name', 'role']" (editEvent)="navigateToEditMember($event)"></app-table>
  </div>
</div>