.mat-toolbar.mat-primary {
  top: 0;
  z-index: 1;
  position: sticky;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  * {
    font-size: 1rem;
    text-decoration: none;
    color: white;
  }
}
