<div class="board" fxLayout="row" cdkDropListGroup>
  <div fxLayout="column" class="column-1">
    <h1>{{title}}</h1>

    <div class="container" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="{status: '', member: null}">
      <div *ngFor="let task of stories$ | async">
        <mat-card *ngIf="task.status.length === 0" cdkDrag [cdkDragData]="task">
          <mat-card-title>{{ task.title }}</mat-card-title>
          <mat-card-content>{{ task.description }}</mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div fxLayout="column" class="column-2">
    <div fxLayout="row">
      <div class="user-name-column" fxLayout="column">
        <h2>Users</h2>
      </div>
      <div fxLayout="column" class="card-column" *ngFor="let status of getStatuses()">
        <h2>{{ status }}</h2>
      </div>
    </div>
    <div fxLayout="row" *ngFor="let member of members$ | async">
      <div class="user-name-column" fxLayout="column">
        <b>{{ member.name }}</b>
      </div>
      <div fxFlex fxLayout="column" *ngFor="let status of getStatuses()">
        <div class="container" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="{status: status, member: member}">
          <mat-card *ngFor="let task of getByStatus(status, member.assigned)" cdkDrag [cdkDragData]="task">
            <mat-card-title>{{ task.title }}</mat-card-title>
            <mat-card-content>{{ task.description }}</mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div fxLayout="row">
  <app-chart></app-chart>
</div>