.wrapper {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .column {
      width: 100%;
    }
  }

  .todo {
    width: 20rem;
  }

  .mat-card {
    box-shadow: none;
    margin-bottom: 1rem;
  }

  .lanes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .lane {
      width: 100%;

      .drop {
        min-height: 5rem;
        border-top: 1px solid #0000001f;
        padding: 1rem;
      }
    }
  }
}
